
*.lst
*.xmsgs
*.gise
*.xise
*.log
*.cmd
*.projectmgr
*.html
*.dbg
*.exe
*.dat
isim/main_test_isim_beh.exe.sim/tmp_save/_1
*.c
*.didat
*.obj
isim/pn_info
*.vdb
*.bld
*.cmd_log
*.lso
main.ncd
main.ngc
main.ngd
main.ngr
main.pad
main.par
main.pcf
main.prj
main.ptwx
main.stx
main.syr
main.twr
main.twx
main.unroutes
main.xpi
main.xst
main_guide.ncd
main_map.map
main_map.mrp
main_map.ncd
main_map.ngm
main_map.xrpt
main_ngdbuild.xrpt
main_pad.csv
main_pad.txt
main_par.xrpt
main_summary.xml
main_test_beh.prj
main_test_isim_beh.wdb
main_test_stx_beh.prj
main_usage.xml
main_vhdl.prj
main_xst.xrpt
pepExtractor.prj
webtalk_pn.xml
xilinxsim.ini
xlnx_auto_0_xdb/cst.xbcd
xst/work/hdllib.ref
xst/work/hdpdeps.ref
xst/work/sub00/vhpl00.vho
xst/work/sub00/vhpl01.vho
